{
  "UUID": "{{ plugin_uuid }}",
  "Name": "{{ plugin_name }}",
  "Version": "0.0.1",
  "Author": "{{ author_name }}",
  "Description": "{{ plugin_description }}",
  "Category": "{{ plugin_category }}",
  "CategoryIcon": "assets/sample_category_icon",
  //"PropertyInspectorPath": "propertyinspector/index.html",
  // "Icon": "assets/sample_plugin_icon",
  "Actions": [
    // {
    //   "UUID": "com.{{ author_name }}.{{ plugin_uuid }}.this_action",
    //   "Name": "My action",
    //   "Icon": "assets/sample_action_icon",
    //   "States": [
    //     {
    //       "Image": "assets/sample_action_icon"
    //     }
    //   ],
    //   "PropertyInspectorPath": "propertyinspector/this_action_pi.html",
    //   "SupportedInMultiActions": true,
    //   "Controllers": [
    //     "Encoder",
    //     "Keypad"
    //   ],
    //   "Tooltip": "Open streamdeck_sdk github page.",
    //   "UserTitleEnabled": true
    // }
  ],
  "CodePath": "run.sh",
  // "CodePathMac": "run.sh",
  // "CodePathWin": "run.bat",
  "SDKVersion": 2,
  "OS": [
    {
      "Platform": "mac",
      "MinimumVersion": "10.14"
    }
    // {
    //   "Platform": "windows",
    //   "MinimumVersion": "10"
    // }
  ],
  "Software": {
    "MinimumVersion": "6"
  },
  // "ApplicationsToMonitor": {
      // "mac": ["us.zoom.xos"],
      // "windows": ["Elgato Wave Link.exe"]
  // }
}
